<%- include('header') -%>

<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="row">
        <header class="masthead mb-auto bg-dark fixed-top">
            <div class="inner ">
                <h1 class="masthead-brand" style="color: whitesmoke">Auto-shop</h1>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="/">Kezdőlap</a>
                    <a class="nav-link" href="/login">Bejelentkezés</a>
                </nav>
            </div>
        </header>
    </div>
    <div class="d-flex row justify-content-center" style="padding-top: 100px;" >
        <main role="main" class="inner cover">
            <h3 class="cover-heading">Rendeld meg a saját személyreszabott autódat</h3>
            <p class="lead">Az világ az első olyan cége, amely képes a legvadabb automotív álmaidat teljesíteni</p>
        </main>
    </div>
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-2">&nbsp;</div>

                <div class="col-lg-8">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>
                                Legtöbbször ez a felhasználó rendelt
                            </th>
                            <th>
                                Rendelések száma
                            </th>
                        </tr>
                        <% topCustomers.forEach(function(customer){ %>
                            <tr>
                                <td>
                                    <%= customer.name %>
                                </td>
                                <td>
                                    <%= customer.orderCount %>
                                </td>
                            </tr>
                        <% }); %>
                    </table>
                </div>
                <div class="col-2">&nbsp;</div>
            </div>
        </div>
    </div>
</div>
</body>

<%- include('footer') -%>
