<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Autó-shop - Álmaid autója</title>

</head>
<body class="text-center">

    <div class="row" style="margin: 0 0 0 0">
        <div class="container col-md-3">
        <form class="form-signin" style="padding-top: 100px">
            <h1 class="h3 mb-3 font-weight-normal">Kérlek jelentkezz be</h1>
            <label for="inputUser" class="sr-only">E-mail cím</label>
            <input type="email" id="inputUser" class="form-control" placeholder="E-mail cím" required autofocus>
            <label for="inputPassword" class="sr-only">Jelszó</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Jelszó" required>
            <div class="mb-3">Még nincs felhasználód? <a href="register.html">Regisztrálj itt!</a></div>
            <div class="mb-3">Elfelejtetted a jelszavad? <a href="lost_password.html">Kérj újat itt!</a></div>
            <a href="dashboard.html" class="btn btn-primary btn active" role="button" aria-pressed="true">Bejelentkezés</a>
            <a href="index.html" class="btn btn-link btn active" role="button" aria-pressed="true">Vissza</a>
        </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>
